# Archivos y carpetas generados por Java
*.class
*.jar
*.war
*.ear

# Carpetas de compilación
/target/
*/target/

# Archivos de configuración de IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/
tmp/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Otros
*.swp
*.bak
*.tmp

# Archivos de entorno
.env
*.env.*
